<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.CourseMapper">


	<select id="findAll" resultType="Course">
		SELECT *, NOW() time FROM Course
	</select>
	
	<select id="findAllWithDepartments" resultMap="resultMap1">
		SELECT c.*, d.id departmentId, d.departmentName
		FROM Course c LEFT JOIN Department d ON d.id = c.departmentId
	</select>
	
	<resultMap id="resultMap1" type="Course">
		<id property="id" column="id" />
		<result property = "courseName" column="courseName" />
		<result property = "unit" column="unit" />
		<result property = "professorId" column="profesdsorId" />
		<collection property="departmenst" ofType="Department">
			<id property="id" column="departmentId" />
			<result property="departmentName" column="departmentName" />
		</collection>
	</resultMap>

</mapper>
