<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.CourseMapper">


	<select id="findAll" resultType="Course">
		SELECT *, NOW() time FROM Course
	</select>
	
	<select id="findAllWithDepartments" resultMap="resultmap1">
		SELECT c.*, d.id departmentId, d.departmentName
		FROM Course c LEFT JOIN Department d ON c.departmentId = d.id
	</select>
	
	<resultMap id="resultmap1" type="Course">
		<id property="id" column="id" />
		<result property="courseName" column="courseName" />
		<result property="departmentId" column="departmentId" />
		<association property="department" javaType="department">
			<id property="id" column="departmentId" />
			<result property="departmentName" column="departmentName" /> 
		</association>
	</resultMap>
	
	<select id="findAllWithDepartmentsAndProfessors" resultMap="resultmap2">
		SELECT c.*, d.id departmentId, d.departmentName, p.id professorId, p.professorName
		FROM Course c 
		JOIN Department d ON c.departmentId = d.id
		JOIN Professor p ON c.professorId = p.id
	</select>
	
	<resultMap id="resultmap2" type="Course">
		<id property="id" column="id" />
		<result property="courseName" column="courseName" />
		<result property="departmentId" column="departmentId" />
		<result property="professorId" column="professorId" />
		<association property="department" javaType="Department">
			<id property="id" column="departmentId" />
			<result property="departmentName" column="departmentName" /> 
		</association>
		<association property="professor" javaType="Professor">
			<id property="id" column="professorId" />
			<result property="professorName" column="professorName" />
		</association>
	</resultMap>
	
	<select id="findAllWithStudents" resultMap="resultmap3">
		SELECT r.courseId, c.courseName, s.id studentId, s.studentNumber, s.name, r.grade
		from course c
		join register r on c.id = r.courseId
		join student s on r.studentId = s.id
	</select>
	
	<resultMap id="resultmap3" type="Course">
		<id property="id" column="courseId" />
		<result property="courseName" column="courseName" />
		<collection property="students" ofType="Student">
			<id property="id" column="studentId" />
			<result property="studentNumber" column="studentNumber" />
			<result property="name" column="name" />
		</collection>
	</resultMap> 
	

</mapper>
